doctype
html
  head
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    script(src="//code.jquery.com/jquery-1.11.2.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")

    // Socket.io reads and sends small data bits to and from the server
    script(src="/socket.io/socket.io.js")

    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(http-equiv="content-language" content="en-EN" )
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title EYETOOL TRY ON

    // Requred libs
    script(type="text/javascript" src="./dist/jeelizFaceFilter.js")
    script(type="text/javascript" src="./libs/threejs/v112/three.min.js")
    script(type="text/javascript" src="./libs/threejs/v112/GLTFLoader.js")
    script(type="text/javascript" src="./helpers/inflate.min.js")
    script(type="text/javascript" src="./helpers/jeelizResizer.js")
    script(type="text/javascript" src="./helpers/jeelizThreejsHelper.js")
    // Pico Js
    script(type="text/javascript" src="./dist/lploc.js")
    script(type="text/javascript" src="./dist/pico.js")

    // Our JS files
    script(type="text/javascript" src="./js/ratio.js")
    script(type="text/javascript" src="./js/pupil.js")
    script(type="text/javascript" src="./js/resizer.js")
    script(type="text/javascript" src="./js/demo.js")

    // Our CSS
    link(rel='stylesheet', href='./appearance/style.css')
  
  body(onload="main(`#{model}`, `#{client}`)", style={color: '#ffffff'}, onresize="adaptSize()")
    canvas#jeeFaceFilterCanvas()
    //- div.ratio_display
    //-   p PD:
    //-     span#pd_display
    //-   p Face_Width:
    //-     span#fw_display
    //-   p Ratio:
    //-     span#ratio_display
    //-   p Predicted PD:
    //-     span#pd_real_display
    //- div#choosePhoto(style={display: "block"})
    //- div#loader(class = 'loader')
    //- //- div#size-form
    //- //-   input#size-input(type='number', step='0.01', onchange="resizeGlasses()")
    //- div#eyetoolCheckBlock.d-flex.justify-content-center.align-items-center
    //-   i.eyetoolCheckInnerIcon.fa.fa-eye(aria-hidden="true")
    //-   p#eyetoolCheckInnerText(style={margin: '10px'}) Межзрачковое расстояние
    //-   i.eyetoolCheckInnerIcon#info-button.fa.fa-info-circle.popup(style={color: 'blue'}, onclick="myFunction()")
    //-     span.popuptext#myPopup Межзрачковое расстояние (PD) - это расстояние между центрами зрачков глаз. Чтобы узнать как самому измерить PD, #[a(href='https://google.com' target='blank' style={color: 'blue'}) перейдите по ссылке]
    //-   div#size-form.ml-2
    //-     input#size-input(type='number', step='1', min='0', max='99', onchange="resizeGlasses()")
    script.
      // wait until the HTML document is ready, then...
      $(document).ready(function() {
      
        // make a web socket connection using Socket.io
        var socket = io.connect();

        // if the web socket gets a 'new model' and data...
        socket.on('new model', function(pathToModel){
          // append it to the message list
          load_model(pathToModel);
        });
      });