doctype
html
    head
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        meta(http-equiv="content-language" content="en-EN" )
        title UPLOAD MODEL

        link(rel="stylesheet" href="/libs/bootstrap-5.0.0-beta2-dist/css/bootstrap.min.css")
        link(rel='stylesheet', href='/appearance/upload_style.css')

        script(type="text/javascript"  src="/libs/bootstrap-5.0.0-beta2-dist/js/bootstrap.min.js")
        script(type="text/javascript" src="/libs/jquery/jquery-3.3.1.min.js")
        script(type="text/javascript" src="/js/upload.js")

    body
        div
            .row.my-4.justify-content-center.no-gutter
                .card.col-md-6.border-warning.border-5.rounded-3
                    .card-body
                        h3 Model Upload Instructions
                        p To upload a new 3d model to the database, please follow instructions below:
                        ul
                            li File must be in GLTF
                                code .glb
                                |  format
                            li 
                                code Model Name
                                |  will be the name used in API to open this file, therefore chose it carefully
                            li If 
                                code Model Name 
                                |  already exists in the database, then the model will be overwritten
                        p You can see your current accessible models below
            #accordionMain.accordion
                .accordion-item
                    h2#headingOne.accordion-header
                    button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='false' aria-controls='collapseOne')
                        | Your current models are here
                    #collapseOne.accordion-collapse.collapse(aria-labelledby='headingOne' data-bs-parent='#accordionMain')
                        .accordion-body
                            #listOfModels
            .row.justify-content-center.my-3.no-gutter
                .row.g-3.my-3.mx-3.col-lg-6.border.px-2.py-2
                    form#uploadForm.row.my-4
                        .col-sm-7.row.form-group
                            label.col-sm-4.col-form-label(for='inputModelName') Model Name :
                            .col-sm-8
                                input#inputModelName.form-control(type='email', required='')
                        .col-sm-5.form-group
                            input#formFile.form-control(type='file', required='')
                    .row.justify-content-center.my-4
                        button#uploadBtn.btn.btn-primary.col-sm-4(type="button") Upload
            #mainModal.modal.fade(tabindex='-1' aria-hidden='true')
                .modal-dialog.modal-dialog-centered
                    .modal-content
                        .modal-header
                            h5#modalTitle.modal-title Modal title
                            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                        .modal-body
                            #modalBody
                        .modal-footer
                            button.btn.btn-primary(type='button' data-bs-dismiss='modal') Close